.slick-prev, .slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 5px; /* Adjust the position from the left as needed */
}

.slick-next {
  right: 5px; /* Adjust the position from the right as needed */
}

